@use 'variables' as *;

.main-header {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: $colorSecondary;
}

.search-input {
    background-color: transparent;
    border: 2px solid $colorPrimary;
    border-radius: 50px;
    font-family: inherit;
    font-size: $fontSizeBasic;
    padding: 0.5 * $fontSizeBasic $fontSizeBasic;
    color: $colorWhite;
    transition: background-color 0.2s ease-in-out;

    &::placeholder {
        color: darken($colorWhite, 30%);
    }

    &:focus {
        outline: none;
        background-color: $colorPrimary;
    }
}