$colorPrimary: #22254b;
$colorSecondary: #373b69;

$colorWhite: #fff;
$colorTextLight: #eee;

$colorRaitingTop: lightgreen;
$colorRaitingMiddle: orange;
$colorRaitingDown: red;

$fontSizeBasic: 16px;

$movieWidth: 300px;
$movieBoxShadow: 0 4px 5px rgba(0,0,0,0.2);
$movieBorderRadius: 3px;
$movieTitleLetterSpacing: 1px;